<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Developer cum Architect at
      <a
        class="underline-link"
        href="https://www.rmsincorporated.com/"
        target="_blank"
        >RMS, Inc.</a
      >
      building web applications for logistics operations. I recently graduated
      from
      <a class="underline-link" href="https://smude.edu.in/" target="_blank"
        >Sikkim Manipal Univerisy for Distant Education</a
      >.
    </p>

    <p>
      As a software engineer, I enjoy solving the real life problems with
      technology. My goal is to always build applications that are secure,
      scalable and efficient under the hood.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
